Options -Indexes FollowSymLinks

<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?__path=$1 [L,QSA]

</IfModule>

<IfModule mod_php.c>
php_value error_reporting E_ALL
php_flag display_errors 1
</IfModule>

