Options -Indexes FollowSymLinks

<IfModule mod_rewrite.c>

    RewriteEngine on

    RewriteRule "^(.*/)?\.git/" - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ui(\.php)?/?(.*) /pricewaiter/index$2 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?__path=$1 [L,QSA]

</IfModule>

<IfModule mod_php.c>
php_value error_reporting E_ALL
php_flag display_errors 1
</IfModule>

