Options -Indexes FollowSymLinks
FileETag None
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>

    RewriteEngine on

    # Block access to .git and .svn directories
    RewriteRule "^(.*/)?\.(git|svn)/" - [F,L]

    # Block access to _private
    RewriteRule "^(.*/)?_private/" - [F,L]

    # If maintenance/index.html is present in the root, serve it up
    RewriteCond %{DOCUMENT_ROOT}/maintenance/index.html -f
    RewriteCond %{REQUEST_URI} !/(maintenance)/.* [NC]
    RewriteCond %{REQUEST_URI} !\.(jpe?g|png|gif) [NC]
    RewriteRule .* /maintenance/index.html [L]

    # Support wpsupercache style functionality for GET requests with no
    # querystring args
    RewriteCond %{REQUEST_METHOD} GET
    RewriteCond %{QUERY_STRING} !.+
    RewriteCond %{DOCUMENT_ROOT}/cache/full/$1/index.html -f
    RewriteRule ^(.*) %{DOCUMENT_ROOT}/cache/full/$1/index.html [L]

    # Redirect requests to the octopus driver
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?__path=$1 [L,QSA]

</IfModule>

# Block access to settings.yaml
<Files "settings.yaml">
    Order allow,deny
    Deny from all
</Files>

# Block access to smarty templates
<Files ~ "\.tpl$">
    Order allow,deny
    Deny from all
</Files>

<IfModule mod_php.c>
php_value error_reporting E_ALL
php_flag display_errors 1
php_flag magic_quotes_gpc 0
php_flag auto_detect_line_endings 1
php_flag display_startup_errors 1
</IfModule>

<IfModule mod_php5.c>
php_value error_reporting E_ALL
php_flag display_errors 1
php_flag magic_quotes_gpc 0
php_flag auto_detect_line_endings 1
php_flag display_startup_errors 1
</IfModule>

