<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
     colors="true"
     syntaxCheck="false"
     strict="false"
     bootstrap="tests/bootstrap.php">
  <php>
    <const name="PHPUNIT_TESTSUITE" value="true"/>
  </php>

  <testsuites>
    <testsuite name="SG Test Suite">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">includes/classes</directory>
    </whitelist>
    <blacklist>
        <directory>externals</directory>
    </blacklist>
  </filter>
</phpunit>
